<!DOCTYPE html>
<html>
  <head>
    <title>AudioCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
 
      <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
 <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'display_name': '<%= current_user.display_name %>'
        }
      </script>
    <% end %>

    <script type="text/javascript">
      window.landing1 = "<%= image_url('landing_page_slide1.jpg') %>";
      window.landing2 = "<%= image_url('landing_page_slide2.jpg') %>";
      window.transLogo = "<%= image_url('transWhite.png') %>";
    
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>



