<!DOCTYPE html>
<html>
  <head>
    <title>AudioCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
 
      <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
 <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'display_name': '<%= current_user.display_name %>',
        }
      </script>
    <% end %>

    <script type="text/javascript">
      window.landing1 = "<%= image_url('landing_page_slide1.jpg') %>";
      window.landing2 = "<%= image_url('landing_page_slide2.jpg') %>";
      window.transLogo = "<%= image_url('transWhite.png') %>";
      window.profile = "<%= image_url('gradient_left.png') %>";
      window.cover = "<%= image_url('gradient_right.png') %>";
      window.greenLogo = "<%= image_url('green_long.png') %>";
      window.songGradient = "<%= image_url('songGradient.png') %>";
      window.searchButton = "<%= image_url('search-icon.png') %>";
      window.play = "<%= image_url('media_player_assets/play.png') %>";
      window.mute = "<%= image_url('media_player_assets/mute.png') %>";
      window.audio = "<%= image_url('media_player_assets/audio.png') %>";
      window.back = "<%= image_url('media_player_assets/back.png') %>";
      window.next = "<%= image_url('media_player_assets/next.png') %>";
      window.pause = "<%= image_url('media_player_assets/pause.png') %>";
      window.repeat = "<%= image_url('media_player_assets/repeat.png') %>";
      window.shuffle = "<%= image_url('media_player_assets/shuffle.png') %>";
      window.heart = "<%= image_url('media_player_assets/heart.png') %>";
      window.downArrow = "<%= image_url('downArrow.png') %>";
      window.trackIcon = "<%= image_url('trackIcon.png') %>";
      window.profileIcon = "<%= image_url('profileIcon.png') %>";
      window.signoutIcon = "<%= image_url('signoutIcon.png') %>";
      

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>



